[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is the device tree for OFOX Recovery for Samsung Galaxy A10
[access "refs/*"]
	owner = group user/Chatur Baij (Main) (Chatur27)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Chatur Baij (Main) (Chatur27)
	label-Verified = -1..+1 group user/Chatur Baij (Main) (Chatur27)
	push = group user/Chatur Baij (Main) (Chatur27)
	read = group user/Chatur Baij (Main) (Chatur27)
	rebase = group user/Chatur Baij (Main) (Chatur27)
	removeReviewer = group user/Chatur Baij (Main) (Chatur27)
	submit = group user/Chatur Baij (Main) (Chatur27)
[access "refs/heads/*"]
	create = group user/Chatur Baij (Main) (Chatur27)
	push = +force group user/Chatur Baij (Main) (Chatur27)
	pushMerge = group user/Chatur Baij (Main) (Chatur27)
	read = group user/Chatur Baij (Main) (Chatur27)
[access "refs/tags/*"]
	push = group user/Chatur Baij (Main) (Chatur27)
	push = +force group user/Chatur Baij (Main) (Chatur27)
